body {
    background-color: hsl(240, 78%, 98%);
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    font-size: 15px;
    font-weight: 700;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    align-items: center;
    color: hsl(232, 13%, 33%);
    gap: 10px;
}

.main-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.child:hover {
    height: 350px;
    color: hsl(240, 78%, 98%);
}

#child2 {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    height: 400px;
    color: hsl(240, 78%, 98%);
}
#child2 > p{
    color: hsl(240, 78%, 98%);
}

#child2 > .button {
    background-color: hsl(240, 78%, 98%);
    color: hsl(237, 63%, 60%);
}

#child2 > div > span,
#child2 > div > p{
    color: hsl(240, 78%, 98%);
}

.child:hover > .button {
    background-color: hsl(240, 78%, 98%);
    color: hsl(237, 63%, 60%);
}

.child:hover > .button:hover {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: hsl(240, 78%, 98%);
}

.button {
    margin-top: 7%;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border-color: hsl(237, 63%, 60%);
    background-color: hsl(240, 78%, 98%);
    color: hsl(237, 63%, 60%);
}

.button:hover {
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border-color: hsl(240, 78%, 98%);
    background-color: hsl(240, 78%, 98%);
    color: hsl(237, 63%, 60%);
}

.header {
    font-size: 30px;
    font-family: "Montserrat";
    color: hsl(233, 13%, 49%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input + .slider {
    background-color: hsl(237, 63%, 60%);
}

input:focus + .slider {
    box-shadow: 0 0 1px hsl(237, 63%, 60%);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-component {
    display: flex;
    align-items: center;
    gap: 20px;
}

hr {
    width: 82%;
    background-color: hsl(232, 13%, 33%);
}

p {
    font-family: "Montserrat";
    margin-top: 0.6em;
    margin-bottom: 0em;
    display: inline;
    color: hsl(232, 13%, 33%);
}

span {
    font-family: "Montserrat";
    font-size: 25px;
    vertical-align: 10%;
    color: hsl(232, 13%, 33%);
}

.price {
    font-family: "Montserrat";
    font-size: 40px;
}

.annually,
.monthly {
    font-size: 15px;
    color: hsl(234, 14%, 74%);
}

.space{
    margin-top: 20px;
    margin-bottom: 20px;
}
